# ==============================================
# Policy File of /system/binmemsicd3416x Executable File 


# ==============================================
# Type Declaration
# ==============================================

type memsicd3416x_exec , exec_type, file_type;
type memsicd3416x ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(memsicd3416x)
allow memsicd3416x gsensor_device:chr_file { read write open };
allow memsicd3416x msensor_device:chr_file { read write ioctl open };
