# ==============================================
# Policy File of /system/binst480d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type st480d_exec , exec_type, file_type;
type st480d ,domain;

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(st480d)
allow st480d gsensor_device:chr_file { read write ioctl open };
allow st480d msensor_device:chr_file { read write ioctl open };
